.container-fluid {
    display: flex;
    height: 100vh;
  }
  
.title-r {
    flex: 1;
    background-color: #ffffff;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-r{
    height: 300px; 
    width: 300px; 
}

.title h1{
    text-align: center;
}


.form {
    margin: auto;
    background-color: white;
    text-align: center;
    align-items: center;
}

.form p{
    max-width:50%;
    margin: auto;
}

.inputField{
    margin: auto;
}

.haveAcc{
    text-align: center;
    font-size: large;
}

.text-maroon{
    border: none;
    mix-blend-mode: color-burn;
    color: #841818;
}


.btn-register{
    background-color: #841818;
    color: white;
    padding: 15px 25px;
    border-radius: 25px;
    font-size: 25px;
    margin: auto;
}

.big-space{
    margin-bottom: 300px;
}

.card-bg{
    background: rgb(255,244,197);
    background: linear-gradient(90deg, rgba(255,244,197,1) 21%, rgba(132,24,24,1) 84%);
}